{minimum_otp_vsn, "19.2"}.

{erl_opts, [{i, "include"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{cover_enabled, true}.

{profiles,
 [
  {test,
   [
    {deps, [
            eunit_formatters
           ]}
   ]}
 ]}.
