{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{cover_enabled, true}.

{deps,
  [
   {eunit_formatters,
    ".*", {git, "git://github.com/seancribbs/eunit_formatters", {tag, "v0.3.1"}}}
  ]
}.

